@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

/*topnav block*/
.topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    background-color: white;
}

#selction_page {color: #0676a4;}

.topnav_navigation a {
    padding: 0 20px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

#topnav_dropmenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0; /*150px*/
  gap: 10px;
  background-color: whitesmoke;
  transition: 0.5s ease;
  overflow: hidden;
}

#topnav_dropmenu a {
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

#button_dropmenu {
  display: none;
  border: none;
  background: none;
}

/*topnav endblock*/

/*Step_1 block*/
.step_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 664px;
    background-image:url(/img/main.png);
    background-repeat: no-repeat;
    background-position: 0 -350px;
    background-size: 100%;
    filter: brightness(100%);
}

.step_1 h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 96px;
    color: white;
}

.step_1 p {
    max-width: 1080px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 94px;
    line-height: 35px;
}

.step_1 button {
    width: 227px;
    height: 45px;
    background-color: #d63b42;
    border: none;
    margin-top: 84px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s ease;
}

.step_1 button:hover {background-color: #b53037;}

/*Step_1 endblock*/

/*Step_2 block*/
.step_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 675px;
    text-align: center;
}


.step_2_info h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.step_2_info  p {
  font-size: 16px;
  max-width: 403px;
  line-height: 22px;
  margin-left: 55px;
  margin-top: 20px;
}

#slider {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 528px;
    height: 396px;
}
  
  #sliderphoto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    /* gap: 20px; */
}
/*Step_2 endblock*/

/*Download block*/
.third_box {
	width: 100%;
	height: 400px;
	display: flex;
  flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.third_box p {
  max-width: 391px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 86px;
}
.third_box a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 45px;
  background-color: #4986bf;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.third_box_left, .third_box_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Download endblock*/

/*Footer block*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  background-color: #333333;
}

.footer_up {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 1170px;
  height: 200px;
  border-bottom: 1px solid gray;
}

.footer_up_info_left {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer_up_info_right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.footer_up_info_left a {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

.footer_up_info_right h2 {
  font-size: 18px;
  color: white;
}

.footer_up_info_right a {
  font-size: 16px;
  font-weight: 400;
}

.footer_down {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.footer_down_social {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 990px;
  gap: 4px;
}

.footer_up_info_left a {
  font-size: 17px;
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

.footer_up_info_left a:hover {color: rgb(162, 160, 160);}

.footer_up_info_right a {
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

.footer_up_info_right a:hover {color: rgb(162, 160, 160);}

/* Footer endblock*/

/*Max-width block*/

@media (max-width: 1366px) {
  .step_1 h2 {
    font-size: 85px;
  }

  .step_1 p {
    font-size: 20px;
    margin-top: 40px;
    line-height: 35px;
  }

  .step_1 button {
    width: 227px;
    margin-top: 40px;
    font-size: 16px;
  }




}

@media (max-width: 425px) {
  
  .topnav img {
    width: 47.5px;
    height: 32px;
  }

  .topnav_navigation a {
    padding: 0 10px;
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .topnav_navigation a {
    padding: 0 8px;
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .topnav_navigation a {
    padding: 0 8px;
    font-size: 10px;
  }

  .topnav_navigation {display: none;}

  #button_dropmenu {
    display: block;
  }
  
}

/*Max-width endblock*/